<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="agv_lidar">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0055455 0.0023498 0.33676"
        rpy="0 0 0" />
      <mass
        value="23.785" />
      <inertia
        ixx="0.52424"
        ixy="0.00069216"
        ixz="-0.003722"
        iyy="0.59823"
        iyz="-0.0013372"
        izz="0.95401" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pibot_description/meshes/xbot/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pibot_description/meshes/xbot/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="laser_link">
    <inertial>
      <origin
        xyz="0.38403 -0.0064823 0.12515"
        rpy="0 0 0" />
      <mass
        value="0.20612" />
      <inertia
        ixx="7.874E-05"
        ixy="1.5798E-08"
        ixz="2.9808E-08"
        iyy="7.9697E-05"
        iyz="-5.0246E-07"
        izz="9.8852E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pibot_description/meshes/xbot/laser_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pibot_description/meshes/xbot/laser_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_link_joint"
    type="fixed">
    <origin
      xyz="0.3842 0 0.09187"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="laser_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
